body{
	margin:0 0;
}
.jiefuzi-gerenzhongxin{
	width: 100%;
	height: 100%;
	background-color:#fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10001;
}
.jiefuzi-gerenzhongxin-toubu{
	background-color: #7F4A88;
}
.jiefuzi-gerenzhongxin-toubu img{
	margin:20px 20px;
}
.jiefuzi-gerenzhongxin-toubu a{
	color: #fff;
	text-decoration: none;	
}
.jiefuzi-gerenzhongxin-toubu .denglu{
   	position: absolute;
   	top: 27px;
   	right: 240px;
}
.jiefuzi-gerenzhongxin-toubu .zhuce{
   	position: absolute;
   	top: 27px;
   	right: 170px;
}
.jiefuzi-gerenzhongxin-toubu  .tupian{
	position: absolute;
   	top: 10px;
   	right: 50px;
}
.gerenzhongxin-beijintu{
	width: 100%;
	height: 300px;
	background:url(../img/beijintu.jpg);
	position: relative;
}
.gerenzhongxin-beijintu-touxiang{
	width: 80px;
	height:80px;
	border-radius: 50%;
	background-color: #ededed;
	position: absolute;
	top: 115px;
	left: 45%;
}
.gerenzhongxin-beijintu span{
	color: #fff;
}
.shi{
 	position: absolute;
	top: 195px;
	left: 46.5%;
}
.xingzou{
	position: absolute;
	top: 220px;
	left: 44%;
}
.nianling{
	position: absolute;
	top: 220px;
	left: 49%;
}
.gerenzhongxin-biaoti{
	display: block;
	margin-left: 17%;
	padding: 5px 0;
}
.gerenzhongxin-henggang{
	width: 70%;
	margin-left: 15%;
	height: 4px;
	background-color: #ededed;
}
.fabiaode-wenzhang{
	width: 100%;
	height: 200px;
	border: 2px solid#ffffff;
}
.wenzhangxiangmu-neirong{
	width: 70%;
	background-color:#7F4A88;
	margin:10px 203px;  
}
.fabiaode-wenzhangtupian{
	float: left;
	width: 40%;
	height: 100%;
	background-color: red;
}
.fabiaode-wenzhangneirong{
	float: right;
	width: 60%;
	height: 100%;
	background-color: blue;
	position: relative;
}
.fabiaode-wenzhangneirong span{
	display: inline-block;
}

.fabiaode-wenzhangneirong .fabiaodeneirong-span1{
	position: absolute;
    top: 15px;
    left: 10px;
}
.fabiaode-wenzhangneirong .fabiaodeneirong-span2{
	position: absolute;
    top: 65px;
    left:10px; 
}
.fabiaode-xia a{
	position: absolute;
    top: 170px;
    left:10px;
	text-decoration: none;
	color: #333;
}
.fabiaode-xia .kan{
	position: absolute;
    top: 177px;
    right:55px; 
}
.fabiaode-xia .zan{
	position: absolute;
    top: 175px;
    right:130px; 
}
.zan-span{
	position: absolute;
    top: 172px;
    right:80px; 
}
.kan-span{
	position: absolute;
    top: 172px;
    right:5px; 
}
.zhanghaoneir .zhanghaoneir-touxiang{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin:0 0;
   	position: absolute;
   	top: 15px;
   	right: 240px;
}
.zhanghaoneir span{
	position: absolute;
   	top: 15px;
   	right: 180px;
	line-height: 50px;
}
.zhanghaoneir .zhanghaoneir-shezhzi{
	margin:0 0;
	position: absolute;
   	top: 25px;
   	right: 145px;
}
.zhanghushezhi-xiaogongneng{
	width: 120px;
	height: 135px;
	background: url(../img/baiban.png);
	position: fixed;
	top: 43px;
	right: 133px;
	display: none;
	z-index: 10002;
}
.zhanghushezhi-xiaogongneng ul li{
	display: inline-block;
	margin-top: 13px;
	margin-left: -20px;
	cursor: pointer;
}
