body{
	margin:0 0;
}
.jiefuzimima{
	width: 100%;
	height: 100%;
	background: url(../img/index-beijing.png);
 	background-repeat:no-repeat;
	background-size: 100% 100%;
}
.jiefuzimima-toubu{
	background-color: #7F4A88;
	opacity: 0.5;
}
.jiefuzimima-toubu img{
	margin:20px 20px;
}
.zhuyaoneirong{
	width: 30%;
	height:  300px;
	margin:150px 35%;
	background-color: #000;
	opacity: 0.5;
	border-radius: 10px;
	position: relative;
}
.zhuyaoneirong h1{
	color: #fff;
	font-size: 15px;
	position: absolute;
	top: 20px;
	left: 40%;
}
.zhuyaoneirong input{
	margin:0px 15%;
	opacity: 0.5;
	border: 1px solid #7F4A88; 
	border-radius: 5px;
	width: 70%;
	height: 40px;
}
.zhuyaoneirong .password-sjhao{
	position: absolute;
	top: 85px;
}
.zhuyaoneirong .password-yanzhengma{
	width: 40%;
	position: absolute;
	top: 145px;
}
.yanzhengma{
	cursor: pointer;
	width: 25%;
	height: 42px;
	position: absolute;
	top: 145px;
	left: 60%;
	background: url(../img/yanzhengma.png);
}
.password-button{
	width: 70%;
	height: 40px;
	background-color: #222629;
	color: #fff;
	font-weight: 900;
	line-height: 40px;
	text-align: center;
	position: absolute;
	top: 225px;
	left: 15%;
	cursor: pointer;
}